body {
  background: rgb(27, 27, 39);
  font-family: 'Poppins', sans-serif;
}

.box {
   /* border: 2px solid white; */
  margin-top: 3rem;
}

.nav-box {
   /* border: 2px solid white; */
  padding: 40px;
}

.nav-bar {
   /* border: 2px solid white; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(27, 27, 39, 0.933);
  padding: 15px 40px;
  border-radius: 6px;
  box-shadow: inset 2px 2px 4px rgba(11, 136, 225, 0.4);

}


.layout1 h1 { order: 1; margin-left: 2rem; }
.layout1 .nav-link { order: 2; }
.layout1 .btn { order: 3; margin-right: 2rem;}

.layout2 .nav-link { order: 1;  margin-left: 2rem; }
.layout2 .btn { order: 2;  margin-left: 2rem;}
.layout2 h1 { order: 3; margin-left: auto; margin-right: 2rem; }

.layout3 h1 { order: 1; margin-left: 2rem; }
.layout3 .nav-link { order: 2; margin-left: auto; }
.layout3 .btn { order: 3; margin-left: 2rem; margin-right: 2rem; }

/* Logo */
.nav-bar h1 {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  text-shadow: 2px 2px 4px #000000;
}
.nav-bar h1:hover { color: #107a98; }

/* Links */
.nav-link {
  display: flex;
  gap: 3rem;
}
.nav-list {
   /* border: 2px solid white; */
  text-decoration: none;
  color: #dedddd;
  font-weight: 500;
  font-size: 18px;
  transition: 0.3s ease;
}
.nav-list:hover {
   /* border: 2px solid white; */
  color: #148cae;
  background-color: #dedddd;
  cursor: pointer;
  width: 5.5rem;
  text-align: center;
  border-radius: 17px;
}

/* Button */
.btn {
  /* border: 2px solid white; */
  color: #fdf9f9;
  font-size: 16px;
  background-color: #107a98;
  padding: 8px 24px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease;
}
.btn:hover {
  transform: scale(1.05);
  background-color: #fdf9f9;
  color: #107a98;
}

/* Responsive */
@media (max-width: 992px) {
  .nav-bar {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
  .nav-link {
    margin-left: 0 !important;
    gap: 1.5rem;
  }
}
